.piviz-activity-completed .djs-visual> :nth-child(1) {
  fill: #66cc66 !important;
}

.piviz-activity-running .djs-visual> :nth-child(1) {
  fill: #70b8db !important;
}

.piviz-flow-completed .djs-visual> :nth-child(1) {
  stroke: #66cc66 !important;
}
